body {
  margin: 0;
  width: 100%; }
  body form input[type="radio"] {
    display: none; }
  body form nav {
    width: 1080px;
    margin: auto; }
    body form nav ul li {
      list-style-type: none;
      float: left;
      margin: 10px; }
  body form .bigpicture {
    width: 520px;
    margin: 0 auto; }
    body form .bigpicture .image {
      display: none; }
    body form .bigpicture input:checked + .image {
      display: block; }

